header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

.container-header-1{
    width: 25%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.container-header-2{
    width: 25%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

#circulo {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.Participantes{
    background-color: #0aaf96;
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: solid transparent;
    color:white;
}

img{
    height:  50px;
    width: 50px;
    margin-right: 25px;
}

.container-principal{
    width: 100vw;
    height: 70vh;
    background-color: transparent;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.container-principal-leyenda{
    
    width: 20%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-leyenda{
   
    width: 75%;
    height: 80%;
    background-color: #dee4e9;
    border-radius: 5px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

.container-leyenda-item-1{
    background-color: white;
    border-radius:2.5px;
    width: 90%;
    height: 25%;
    box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.2);
    border: solid transparent;
}

.container-leyenda-item-0{
    background-color: white;

    border-radius:2.5px;
    width: 90%;
    height: 25%;
    border: solid transparent;
}
.container-principal-grafica{
   
        width:50%;
        height: 100%;
        background-color: #dee4e9;
        border-radius:10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
}


.container-principal-termostato{
    width: 20%;
    height: 100%;
    border-radius: 2.5px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-termostato{
    width:80%;
    height: 70%;
    border-radius: 15px;
    background-color: transparent;
    border: solid #616161 0px; 
    box-shadow: 0px 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.2);
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    padding: 10px;
}

#temp-line-charts{
    border-radius: 15px;
}

a{
    color:black;
    text-decoration:none;
}


.container-principal{
    width: 100vw;
    height: 80vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container-principal-usuarios{
    width: 80%;
    height: 90%;
    border-radius:5px;
    background-color: transparent;
    padding: 15px;
}


#app-users-list{
    height: 50vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.container-user{
    width:20%;
    height:40%;
}

.container-user-info{
   width: 70%;
   height: 100%;
   border-radius: 15px;
   background-color: white;
   box-shadow: 0px 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.usuarios{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    align-self: center;
}

.texto{
    align-self: center;
}