header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}


.Participantes a{
    color:white;
}
.container-header-1{
    width: 25%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.container-header-2{
    width: 25%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

#circulo, #img1 {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.Participantes{
    background-color: #0aaf96;
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: solid transparent;
    color:white;
}

img{
    height:  50px;
    width: 50px;
    margin-right: 25px;
}

.container-principal{
    width: 100vw;
    height: 70vh;
    background-color: transparent;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.container-principal-leyenda{
    
    width: 20%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-leyenda{
   
    width: 75%;
    height: 80%;
    background-color: #dee4e9;
    border-radius: 5px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

.container-leyenda-item-1{
    background-color: white;
    border-radius:2.5px;
    width: 90%;
    height: 20%;
    box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.2);
    border: solid transparent;
}

.container-leyenda-item-0{
    background-color: white;

    border-radius:2.5px;
    width: 90%;
    height: 20%;
    border: solid transparent;
}
.container-principal-grafica{
   
        width:50%;
        height: 100%;
        background-color: #dee4e9;
        border-radius:10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
}


.container-principal-termostato{
    width: 20%;
    height: 100%;
    border-radius: 2.5px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-termostato{
    width:80%;
    height: 70%;
    border-radius: 15px;
    background-color: transparent;
    border: solid #616161 0px; 
    box-shadow: 0px 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.2);
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    padding: 10px;
}

#temp-line-charts{
    border-radius: 15px;
}

a{
    color:black;
    text-decoration:none;
}


.container-principal{
    width: 100vw;
    height: 80vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container-principal-usuarios{
    width: 80%;
    height: 90%;
    border-radius:5px;
    background-color: transparent;
    padding: 10px;
   
}


#app-users-list{
    height: 50vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.container-user{
    margin-top: 10px;
    width:20%;
    height:40%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container-principal-usuarios h2{
    margin-top:0;
    font-family: sans-serif;
    color:#616161;
}

.container-user-info{
   width: 70%;
   height: 100%;
   border-radius: 15px;
   background-color: white;
   box-shadow: 0px 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.container-user-info div{
    width: 100%;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-user-info img{
    align-items:  center;
}

.usuarios{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    align-self: center;
    margin:0;
}

.texto{
    text-align: center;
}

.container-volver{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 15%;
    height: 10%;
    margin-top:10px;
}






.container-login{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}

.container-login-principal{
    width: 25%;
    height: 75%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.container-login-1{
    height: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-login-principal-google{
    background-color: white;
    border: transparent solid;
    box-shadow: 0px 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.2);
    padding: 0px 15px 0px 15px;
    border-radius: 15px;
    width: 85%;
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}

.container-login-principal-google:hover{
    background-color: #2196f3;
    border: transparent solid;
    box-shadow: 0px 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.2);
    padding: 0px 15px 0px 15px;
    border-radius: 15px;
    width: 85%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}

.container-login-titulo{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-login-titulo p{
    font-weight: bold;
    font-family: sans-serif;
    font-size:1em;
}

.container-login-principal-google p{
    font-weight: bold;
    font-family: sans-serif;
    font-size:0.8em;
}

.container-login-principal-google img{
    height: 25px;
    width: 25px;
    border: solid transparent;
}

.container-login-logo{
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container-login-logo img{
    align-self: center;
    width:60%;
    height: 100%;
    margin:0
}





.dropdown {
    display: inline-block;
    position: relative;
  }
.dropdown button{
    height: 20px;
    width: 120px;
    background-color: transparent;
    border: solid transparent;
    display: flex;
    align-items: flex-start;
    overflow-x: hidden
}
.dropdown button img{
    height: 20px;
    width: 120px;
    overflow-x: hidden;
}
  .dropdown-content {
    overflow-x: hidden;
    display: none;
    position: absolute;
    width: 120px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    overflow-x: hidden;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    height: 20px;
    width: 120px;
    text-decoration: none;
    overflow-x: hidden;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    overflow-x: hidden;
  }


  .container-termostato-principal{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-principal-grafica-termostato{
   
    width:70%;
    height: 100%;
    background-color: #dee4e9;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00a152;

}

.container-termostatos{
    width: 100%;
    height: 10%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.container-termostatos div{
    width: 25%;;
    display:flex;
    align-items: center;
    justify-content: center;
}
